*{
  box-sizing: border-box;
}
html{
  font-size: 10px;
}
header{
  background-color: midnightblue;
color: white;
text-align: center;
}
body{
  width: 100%;
background-color: black;
}
img{
float: left;
}
form {
  width: 100%;
  margin-left: 56rem;
}
input{
  width: 20%;
}
h1{
  font-size: 4rem;
}
p{
  font-size: 2rem;
}
